{% extends 'base.html.twig' %}

{% block title %}New MicroFilm{% endblock %}

{% block body %}
    <h1>Create new MicroFilm</h1>

    {{ include('micro_film/_form.html.twig') }}

    <a href="{{ path('micro_film_index') }}">back to list</a>
{% endblock %}
